@model HotelReservationSystem.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Номер</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType.Id)
        </dd>
    </dl>
</div>
<div>
    <a  asp-action="Edit" asp-route-id="@Model?.RoomNumber">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
