@model IEnumerable<RoomType>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="w3-display-container w3-content" style="max-width:1500px;">
      <img class="w3-image" src="https://www.w3schools.com/w3images/hotel.jpg" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
      <div class="w3-display-left w3-padding w3-col l6 m8">
        <div class="w3-container w3-red">
          <h2><i class="fa fa-bed w3-margin-right"></i>Название Гостиницы</h2>
        </div>
        <div class="w3-container w3-white w3-padding-16">
          <form action="/action_page.php" target="_blank">
            <div class="w3-row-padding" style="margin:0 -16px;">
              <div class="w3-half w3-margin-bottom">
                <label><i class="fa fa-calendar-o"></i> Заезд</label>
                <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY" name="CheckIn" required>
              </div>
              <div class="w3-half">
                <label><i class="fa fa-calendar-o"></i> Выезд</label>
                <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY" name="CheckOut" required>
              </div>
            </div>
            <div class="w3-row-padding" style="margin:8px -16px;">
              <div class="w3-half w3-margin-bottom">
                <label><i class="fa fa-male"></i> Взрослые</label>
                <input class="w3-input w3-border" type="number" value="1" name="Adults" min="1" max="6">
              </div>
              <div class="w3-half">
                <label><i class="fa fa-child"></i> Дети</label>
              <input class="w3-input w3-border" type="number" value="0" name="Kids" min="0" max="6">
              </div>
            </div>
            <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Поиск</button>
          </form>
        </div>
      </div>
    </div>
<div class="w3-container w3-margin-top" id="rooms">
<h2>Номера</h2>
<p>Чувствуй себя как дома Мы предлагаем лучшие кровати в отрасли. Хорошо выспитесь и хорошо отдохните.</p>
</div>
<div class="w3-row-padding w3-padding-16">  

@foreach (var obj in Model)
{
    <div class="w3-third w3-margin-bottom">
        <img src="@obj.RoomImageURL" alt="Norway" style="width:100%">
        <div class="w3-container w3-white">
        <h3>@obj.Description</h3>
        <h6 class="w3-opacity">От ₽@obj.Price</h6>
        <p>Single bed</p>
        <p>@obj.RoomArea m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
        <button class="w3-button w3-block w3-black w3-margin-bottom">Выбрать номер</button>
        </div>
    </div>
}
</div>
