@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Личные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-8">
        <p>Ваша учетная запись содержит персональные данные, которые вы нам предоставили. Эта страница позволяет вам загружать или удалять эти данные.</p>
        <p>
            <strong>Удаление этих данных навсегда удалит вашу учетную запись, и это невозможно восстановить.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary w-50 " type="submit">Скачать</button>
        </form>
        <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary w-50 float" >Удалить</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
