@model ConfirmPaymentVM

@{
    var total_days = Model.Reservation.GetTotalDays();
    var price_for_day = Model.Reservation.Room.RoomType.Price;
    var full_price = total_days * price_for_day;
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 0px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
}

.icon-container {
  margin-bottom: 12px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
</head>
<body>

<h2>Оплатить</h2>
<p>Введите нужные данные:</p>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form id="Pay" method="post">
      
        <div class="row"  >
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="col-50">
            <h3>Billing Address</h3>


           <input type="hidden" asp-for="ReservationId"/>

           <div class="form-group">
                <label asp-for="FullName"><i class="fa fa-user"></i> ФИО</label>
                <input asp-for="FullName" type="text" placeholder="John M. Doe">
                <span asp-validation-for="FullName" class="text-danger"></span>
           </div>


           <div class="form-group">
            <label asp-for="Email"><i class="fa fa-envelope"></i> Почта</label>
            <input type="text" asp-for="Email" placeholder="user@example.com">
            <span asp-validation-for="Email" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Address"><i class="fa fa-address-card-o"></i> Адрес</label>
                <input type="text" asp-for="Address"  placeholder="Тверская улица, дом 13.">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="City"><i class="fa fa-institution"></i> Город</label>
                <input type="text" asp-for="City"  placeholder="Москва">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="row">
              <div class="col-50">

                <label asp-for="State">Государство</label>
                <input type="text" asp-for="State" placeholder="Россия">
                <span asp-validation-for="State" class="text-danger"></span>

              </div>
              <div class="col-50">
                <label asp-for="ZipCode">почтовый индекс</label>
                <input type="text" asp-for="ZipCode" placeholder="101000">
                <span asp-validation-for="ZipCode" class="text-danger"></span>

              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Оплата</h3>
            <label for="fname">Принимаемые карты</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>

            <label asp-for="CardName">Имя на карте</label>
            <input type="text" asp-for="CardName" placeholder="Petr Petrovich">
            <span asp-validation-for="CardName" class="text-danger"></span>

            <label asp-for="CardNumber">Номер Карты</label>
            <input type="text" asp-for="CardNumber" placeholder="1111-2222-3333-4444">
            <span asp-validation-for="CardNumber" class="text-danger"></span>

            <label asp-for="ExpMonth">Exp Month</label>
            <input type="text" asp-for="ExpMonth" placeholder="09">
            <span asp-validation-for="ExpMonth" class="text-danger"></span>

            <div class="row">
              <div class="col-50">
                <label asp-for="ExpYear">Exp Year</label>
                <input type="text" asp-for="ExpYear" placeholder="2018">
                <span asp-validation-for="ExpYear" class="text-danger"></span>

              </div>
              <div class="col-50">
                <label asp-for="CVV">CVV</label>
                <input type="text" asp-for="CVV" placeholder="352">
                <span asp-validation-for="CVV" class="text-danger"></span>

              </div>
            </div>
          </div>
          
        </div>
        <div>
            <button id="login-submit" type="submit" class="btn">Оплатить</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Корзина <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b></b></span></h4>
      <p><a href="#"> @Model.Reservation.Room.RoomType.Name номер</a> <span class="price"> ₽@price_for_day*@total_days = ₽@full_price </span></p>
            @*
          @foreach (Service s in Model.Services)
          {
            <p> <a href="#"> @s.Name </a><span class="price">₽@s.Price</span></p>
            
          }
      *@
      <hr>
      <p>Итого <span class="price" style="color:black"><b>₽@full_price</b></span></p>
    </div>
  </div>
</div>

</body>
</html>
